@model AdditionalSourcesViewModel
@{
    ViewData["Title"] = "Manage additional sources";
    ViewData.AddActivePage(ManageNavPages.AdditionalSources);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WeasylApiKey"></label>
                <input asp-for="WeasylApiKey" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FurryNetworkBearerToken"></label>
                <input asp-for="FurryNetworkBearerToken" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>