@{
    ViewData["Title"] = "About FollowSort";
}
<h2>@ViewData["Title"]</h2>

<p>
    FollowSort is an ASP.NET Core web app that lets you keep track of posts by
    Twitter and Tumblr users. It collects them in a notification area so you
    can be sure you don't miss anything, and it also lets you filter out
    reposts and/or non-picture posts.
</p>

<p>
    To follow users on a particular site, you'll need to have an account
    there. To follow users on multiple sites, just log into FollowSort with
    one of them and add the others to your list of external logins, which you
    can access once logged in by clicking the "hello" link in the navigation
    bar. You can also assign a FollowSort-specific password, which will let
    you remove your accounts later.
</p>
