@{
    ViewData["Title"] = "About FollowSort";
}
<h2>@ViewData["Title"]</h2>

<p>
    FollowSort is a web app that lets you keep track of posts by Twitter,
    Tumblr, DeviantArt, FurAffinity, and Weasyl users. It collects them in a
    notification area so you can be sure you don't miss anything, and it also
    lets you filter out reposts and/or non-picture posts on a user-by-user
    basis.
</p>

<p>Notes</p>

<ul>
    <li>
        Twitter
        <ul>
            <li>
                To follow Twitter users, you'll need to either log in with
                your Twitter account or add it to your list of
                <a asp-controller="Manage" asp-action="ExternalLogins">
                    external logins.
                </a>
            </li>
        </ul>
    </li>
    <li>
        Tumblr
        <ul>
            <li>
                To follow Tumblr users, you'll need to either log in with
                your Tumblr account or add it to your list of
                <a asp-controller="Manage" asp-action="ExternalLogins">
                    external logins.
                </a>
            </li>
            <li>
                For Tumblr, unlike other sites, FollowSort determines if a
                post is NSFW by looking at the blog that you're following.
                If you don't have NSFW content enabled, you won't receieve
                any notifications from NSFW blogs.
            </li>
        </ul>
    </li>
    <li>
        DeviantArt
        <ul>
            <li>
                Scraps are not included.
            </li>
        </ul>
    </li>
    <li>
        FurAffinity
        <ul>
            <li>
                Uses <a href="https://faexport.boothale.net/">FAExport.</a>
            </li>
            <li>
                Scraps are not currently included.
            </li>
            <li>
                Tag filtering is not supported.
            </li>
            <li>
                If you want to follow someone's favorites instead of their
                gallery, use the type FurAffinity_Favorites. The user's
                favorites will show up in FollowSort as reposts.
            </li>
        </ul>
    </li>
    <li>
        Weasyl
        <ul>
            <li>
                Get a Weasyl API key from
                <a href="https://www.weasyl.com/control/apikeys">
                    https://www.weasyl.com/control/apikeys
                </a>
                and enter it on the
                <a asp-controller="Manage" asp-action="AdditionalSources">
                    additional sources page.
                </a>
            </li>
            <li>
                Characters and journal entries are not included.
            </li>
        </ul>
    </li>
</ul>