@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <div class="row">
        <div class="col-md-6">
            <h2>Tumblr</h2>
            <ul>
                <li>@await UserManager.GetAuthenticationTokenAsync(user, "Tumblr", "access_token")</li>
                @*<li>@await UserManager.GetAuthenticationTokenAsync(user, "Tumblr", "access_token_secret")</li>*@
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Twitter</h2>
            <ul>
                <li>@await UserManager.GetAuthenticationTokenAsync(user, "Twitter", "access_token")</li>
                @*<li>@await UserManager.GetAuthenticationTokenAsync(user, "Twitter", "access_token_secret")</li>*@
            </ul>
        </div>
        <div class="col-md-6">
            <h2>DeviantArt</h2>
            <ul>
                @*<li>@await UserManager.GetAuthenticationTokenAsync(user, "DeviantArt", "access_token")</li>
                <li>@await UserManager.GetAuthenticationTokenAsync(user, "DeviantArt", "refresh_token")</li>*@
                <li>@await UserManager.GetAuthenticationTokenAsync(user, "DeviantArt", "token_type")</li>
                <li>@await UserManager.GetAuthenticationTokenAsync(user, "DeviantArt", "expires_at")</li>
            </ul>
        </div>
    </div>
}